<div class="container my-4">
  <h1>Flats</h1>

  <div class="row">
    <% @flats.each do |flat| %>

      <%= link_to flat_path(flat['id']), class: 'text-decoration-none text-dark col-4' do %>
        <div class="">
          <div class="me-3 mb-3 shadow">
            <img src="<%= flat['imageUrl'] %>" alt="" class="w-100">
            <div class="p-3">
              <%= flat['name'] %>
            </div>
          </div>
        </div>
      <% end %>
      
    <% end %>
  </div>
</div>
