<div class="container my-4 p-4 shadow">
  <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
  <h1><%= @flat['name'] %></h1>

  <img src="<%= @flat['imageUrl'] %>" class="w-100" alt="">


</div>
